#Shop
{
    height: 100vh;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-size: 4vmax;

    /* border: 2px solid red; */
}

header
{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vmax;
    color: black;
    background-color: azure;
    /* border: 1px solid red; */
}

#ShopMain
{
    height: fit-content;
    border: 2px solid gold;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
    
    flex-wrap: wrap;
}

